DB_USER=admin
DB_PASSWORD=secret_password
DB_NAME=fastinventorydb

ASPNETCORE_ENVIRONMENT=Development

DB_CONNECTION_STRING=Host=postgres-db;Database=fastinventorydb;Username=admin;Password=secret_password

# MODO DE EJECUCIÓN (Development / Production)

# INTEGRACIÓN DINÁMICA
# Opción A: Usar mi propio Inventario (Docker)
INVENTORY_API_URL=http://inventory-api:8080

# Opción B: Usar el Inventario de un compañero (Ejemplo)
# INVENTORY_API_URL=http://54.1.2.3:5143

# URLs para el Frontend (Web App)
VITE_INVENTORY_API_URL=http://localhost:5143
VITE_PURCHASES_API_URL=http://localhost:5085
VITE_SALES_API_URL=http://localhost:5074
