# Database Configuration
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=ISW-312-PROJ1
DATABASE_USER=postgres
DATABASE_PASSWORD=your_secure_password_here

# CORS Configuration
CORS_ORIGINS=http://localhost:5173;http://localhost:5174

# Services Configuration
INVENTORY_API_URL=http://localhost:5143
