DB_CONNECTION_STRING=Host=postgres-db;Database=sistemagestion;Username=admin;Password=secret_password

# MODO DE EJECUCIÓN (Development / Production)

# INTEGRACIÓN DINÁMICA
# Opción A: Usar mi propio Inventario (Docker)
INVENTORY_API_URL=http://inventory-api:8080
